{% extends 'base.html.twig' %} {% block title %}EDT - Professeurs{% endblock %}
{% block body %}
<style>
  .header {
    display: flex;
    align-items: center;
  }

  .header>h1 {
    margin-right: 1.5rem;
  }
</style>
<div class="header">
  <h1>Liste des professeurs</h1>
  <a href="{{ path('professeurs.create') }}">
    <button>Créer</button>
  </a>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for professeur in professeurs %}
    <tr>
      <td>{{ professeur.id }}</td>
      <td>{{ professeur.prenom }}</td>
      <td>{{ professeur.nom }}</td>
      <td>{{ professeur.email }}</td>
      <td>
        <a href="{{ path('professeurs.edit', { id: professeur.id }) }}">Éditer</a>
        <a href="{{ path('professeurs.delete', { id: professeur.id }) }}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}